# clustering algorithms and metrics
scikit-learn==0.21.3
# kmedoids
scikit-learn-extra @ https://github.com/scikit-learn-contrib/scikit-learn-extra/archive/master.zip
# meta-features
pymfe==0.0.3
# Random search (RS)
scikit-optimize==0.5.2

# Bayesian Optimization (BO)
smac==0.12.0

# Hyperband (HB) and BOHB
hpbandster==0.7.4

aiohttp==3.6.2
alabaster==0.7.12
algorithm==1.2.0
aniso8601==8.0.0
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
auto-sklearn==0.6.0
Automat==0.6.0
Babel==2.8.0
bayesian-optimization==1.0.1
bcrypt==3.1.7
beautifulsoup4==4.9.1
blinker==1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloud-init==18.3
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
ConfigSpace==0.4.12
constantly==15.1.0
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.17
dataframe==0.2.1.3
dependency-injection==1.2.0
distro-info===0.18ubuntu0.18.04.1
Django==2.2.3
docutils==0.16
emcee==3.0.2
filelock==3.0.12
Flask==1.1.1
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.8
google==2.0.3
grpcio==1.29.0
httplib2==0.9.2
hyperlink==17.3.1
idna==2.9
idna-ssl==1.1.0
imagesize==1.2.0
importlib-metadata==0.18
incremental==16.10.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
lazy-import==0.2.2
liac-arff==2.4.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==7.1.0
msgpack==0.6.2
multidict==4.7.6
netifaces==0.10.9
nose==1.3.7
numpy==1.18.4
oauthlib==2.0.6
packaging==20.3
PAM==0.4.2
pandas==1.0.3
paramiko==2.7.1
patsy==0.5.1
Pillow==7.1.2
pluggy==0.12.0
protobuf==3.12.1
psutil==5.7.0
psycopg2==2.8.3
py==1.8.0
py-spy==0.3.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
-e git+https://github.com/annoviko/pyclustering.git@ef6ed9be35124437847dbcf5b74d00a8df7c7c56#egg=pyclustering
pycparser==2.20
pycrypto==2.6.1
Pygments==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
PyNaCl==1.4.0
pynisher==0.5.0
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyrfr==0.8.0
Pyro4==4.76
pyserial==3.4
pytest==5.0.1
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
ray==0.8.5
redis==3.4.1
requests==2.23.0
requests-unixsocket==0.1.5
scipy==1.4.1
seaborn==0.9.0
SecretStorage==2.3.1
serpent==1.28
service-identity==16.0.0
six==1.15.0
sklearn==0.0
sklearn-extra==0.0.3
snowballstemmer==2.0.0
sns==0.1
sobol-seq==0.1.2
soupsieve==2.0.1
Sphinx==3.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.5
sqlparse==0.3.0
ssh-import-id==5.7
statannot==0.2.3
statsmodels==0.10.1
systemd-python==234
tabulate==0.8.3
Twisted==17.9.0
typing==3.7.4.1
typing-extensions==3.7.4.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.25.9
wcwidth==0.1.7
Werkzeug==1.0.0
yarl==1.4.2
zipp==0.5.2
zope.interface==4.3.2
